<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yezhen.hearbridge.backend.mapper.SignCategoryMapper">

    <select id="selectAll" resultType="com.yezhen.hearbridge.backend.entity.SignCategory">
        select
        id,
        code,
        name_zh as nameZh,
        cover_object_key as coverObjectKey
        from sign_category
        order by id asc
    </select>

    <select id="countAll" resultType="int">
        select count(1)
        from sign_category
    </select>

    <select id="selectPage" resultType="com.yezhen.hearbridge.backend.entity.SignCategory">
        select
        id,
        code,
        name_zh as nameZh,
        cover_object_key as coverObjectKey
        from sign_category
        order by id asc
        limit #{limit} offset #{offset}
    </select>

    <select id="countByKeyword" resultType="int">
        select count(1)
        from sign_category
        where code like concat('%', #{keyword}, '%')
        or name_zh like concat('%', #{keyword}, '%')
    </select>

    <select id="searchPage" resultType="com.yezhen.hearbridge.backend.entity.SignCategory">
        select
        id,
        code,
        name_zh as nameZh,
        cover_object_key as coverObjectKey
        from sign_category
        where code like concat('%', #{keyword}, '%')
        or name_zh like concat('%', #{keyword}, '%')
        order by id asc
        limit #{limit} offset #{offset}
    </select>

    <select id="selectById" resultType="com.yezhen.hearbridge.backend.entity.SignCategory">
        select
        id,
        code,
        name_zh as nameZh,
        cover_object_key as coverObjectKey
        from sign_category
        where id = #{id}
        limit 1
    </select>

    <select id="selectByCode" resultType="com.yezhen.hearbridge.backend.entity.SignCategory">
        select
        id,
        code,
        name_zh as nameZh,
        cover_object_key as coverObjectKey
        from sign_category
        where code = #{code}
        limit 1
    </select>

    <insert id="insert"
            parameterType="com.yezhen.hearbridge.backend.entity.SignCategory"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into sign_category (
        code,
        name_zh,
        cover_object_key
        )
        values (
        #{code},
        #{nameZh},
        #{coverObjectKey}
        )
    </insert>

    <update id="updateById" parameterType="com.yezhen.hearbridge.backend.entity.SignCategory">
        update sign_category
        set
        code = #{code},
        name_zh = #{nameZh},
        cover_object_key = #{coverObjectKey}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from sign_category
        where id = #{id}
    </delete>

</mapper>
