<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yezhen.hearbridge.backend.mapper.SignResourceMapper">

    <select id="selectAll" resultType="com.yezhen.hearbridge.backend.entity.SignResource">
        select
        id,
        code,
        name_zh as nameZh,
        category_code as categoryCode,
        sigml_object_key as sigmlObjectKey,
        cover_object_key as coverObjectKey
        from sign_resource
        order by id asc
    </select>

    <select id="selectByCategoryCode" resultType="com.yezhen.hearbridge.backend.entity.SignResource">
        select
        id,
        code,
        name_zh as nameZh,
        category_code as categoryCode,
        sigml_object_key as sigmlObjectKey,
        cover_object_key as coverObjectKey
        from sign_resource
        where category_code = #{categoryCode}
        order by id asc
    </select>

    <select id="selectByCode" resultType="com.yezhen.hearbridge.backend.entity.SignResource">
        select
        id,
        code,
        name_zh as nameZh,
        category_code as categoryCode,
        sigml_object_key as sigmlObjectKey,
        cover_object_key as coverObjectKey
        from sign_resource
        where code = #{code}
        limit 1
    </select>

    <select id="countByCategoryCode" resultType="int">
        select count(1)
        from sign_resource
        where category_code = #{categoryCode}
    </select>

</mapper>
